/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.split-pane:vertical > * > .split-pane-divider {
   -fx-border-color:  transparent;
   -fx-background-color: transparent;
   -fx-background-insets: 0;
}

.split-pane *.vertical-grabber {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-shape: " ";
}

.split-pane-divider {
   -fx-background-color:  rgb(249, 249, 249);
}

.pane {
	-fx-background-color: white;
	-fx-background-insets: 10;
	-fx-background-radius: 10;
	-fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.pane:hover {
	-fx-effect: dropshadow(gaussian, grey, 15, 0, 0, 0);
	
}

.button {
	-fx-background-color:  #6664F2;
	-fx-text-fill: white;
	-fx-effect: dropshadow(gaussian, grey, 9, 0, 0, 0);
}


.button:hover {
	-fx-effect: dropshadow(gaussian, grey, 15, 0, 0, 0);
	
}

.button:pressed {
	-fx-effect: dropshadow(gaussian, grey, 18, 0, 0, 0);
	-fx-background-color:  #4b4bb7;
	
}

.slider .track {
   -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #3b7299, #99483b);	
}

.slider .thumb {
	-fx-background-color: white;
	-fx-effect: dropshadow(gaussian, grey, 9, 0, 0, 0);
}

.slider .thumb:pressed {
	-fx-background-color: #dbdbdb;
	-fx-effect: dropshadow(gaussian, grey, 18, 0, 0, 0);
}